/* fira sans start */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /*fira sans ends  */


/* Common design */
body{
    background-color: rgba(241, 241, 243, 1);
}
.mp{
    margin: 80px 160px;
    padding:80px,100px;
}
.title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
h4{
    margin-bottom: 16px;
}
p{
    margin-top: 0px;
    margin-bottom: 24px;
}
.prgh{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


/* Banner Section Start */
.banner{
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;

}
.banner-section{
    margin: 117px 60px;
}
.banner-img{
    margin: 80px 60px;
}
.banner-title{
    font-size: 24px;
    color:rgba(14, 14, 14, 0.5);

}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.banner-button{
    background-color: rgba(0, 106, 80, 1);
    font-weight: 400px;
    font-size: 18px;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
}
.banner-button:hover{
    background-color: rgb(237, 15, 222);
    transition: all .5s linear;
}

/* Banner Section End */

/* Vision Section Start */
.vision-container{
    display: flex;
    gap: 24px;
}
.vision-btn{
    padding: 11px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600px;
    border-style: none;
}
.b1{
    background-color: rgba(84, 144, 245, 1);
}
.b1:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.b2{
    background-color: rgba(9, 161, 92, 1);
}
.b2:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.b3{
    background-color: rgba(255, 194, 57, 1);
}
.b3:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.vision-card{
    padding: 32px;
    border-radius: 16px;
}
/* Quote Part Start */
.quot{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 18px;
    margin-top: 32px;
    padding:48px 24px;
    border-radius: 16px;
    background-color:#FFFFFF;
}
.img-quot{
    position: absolute;
}
/* Quote Part End */
/* Vision Section End */

/* Recent News Section Start */
.card-1{
    margin-bottom: 24px;
    border-style: none;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
}
.read-more-btn{
    background-color: rgba(0, 106, 80, 1);
    font-weight: 400px;
    font-size: 18px;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;

}
.read-more-btn:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
span{
    margin-left: 12px;
}
.card-img{
    width: 30%;
    float: left;
    border-radius: 24px;
    border-style: none;
    margin-right: 32px;
}
.card-img-2{
    width: 30%;
    float: right;
    border-radius: 24px;
    border-style: none;
    margin-right: 32px;
}
/* Recent News Section End */

/* Donate Action Section Start */
.action{
    text-align: center;
}
.donate-btn{
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: bold;
    border-style: none;
    margin-left: 24px;
}
.donate-btn:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.fixed-color{
    background-color: rgba(198, 228, 214, 1);
}
.input-field{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 40px;
    margin: 32px 124px;
    height: 64px;
    width: 1032px;
    border-style: none;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
}
/* Donate Action Section End */

/* Newsletter Section Start */
.newsletter{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 100px;
    border-radius: 24px;
}
.sub-form{
    display:flex;
    overflow: hidden;
    margin: 24px 256px;
}
.sub-btn{
    padding: 17px 34px;
    border-radius: 0px 5px 5px 0px;
    background-color:rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 400px;
    border-style: none;
    color: rgba(255, 255, 255, 1);

}
.sub-btn:hover{
    background-color: rgb(237, 15, 222);
    transition: all .8s linear;
}
.email-form{
    padding:18px 40px;
    color: rgba(255, 255, 255, 1) ;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
    width: 600px;
    height: 20px;
}
/* Newsletter Section End */
